######################
# Build Unwanted
######################
.gradle
build
/target/**
target
.idea
plugin-conf.sample
ab

######################
# Node
######################
/node/**
/node_modules/**

######################
# Windows
######################
# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

######################
# Mac OSX
######################
.DS_Store
.svn

######################
# Eclipse
######################
*.pydevproject
.project
.metadata
/bin/**
/tmp/**
/tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/**
.loadpath

######################
# Intellij
######################
.idea/**
*.iml
*.iws
*.ipr
*.ids
*.orig


